body{
    background: #eee;
    width: 100%;
    height: 100%;
    background: url('11.jpg') no-repeat 50% 10%;
    position: absolute;

}

.header{
    position: absolute;
    font-family: 'Abel', sans-serif;
    color: white;
    font-size: 35px;
    padding-top: 50px;
    margin-left: 560px;
    font-weight: lighter;
}
.header2{
    position: absolute;
    font-family: 'Abel', sans-serif;
    color: white;
    font-size: 17px;
    right: 0px;
    bottom: 0px;
    margin-right: 35px;
    margin-bottom: 30px;
    font-weight: lighter;
}

.container{
    width: 300px; 
    height: 395px;
    position: absolute;
    margin-left: 510px;
    margin-top: 160px;
    border-radius: 10px;
    background: #f5f5dc;
    opacity: 0.3;
}

.thumbnail{

    background: #E5E8E8;
    width: 150px;
    height: 150px;
    margin-top: 175px;
    margin-left: 580px;
    padding: 50px 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.6;
    background-image: url("student.gif");
    background-size: 150px 150px;

}

.btn {
    position: absolute;
    background: #34f315;

    width: 270px;
    border: 0;
    margin-top:135px;
    margin-left: 525px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;


}

.in1{
    position: absolute;
    outline: 0;
    background: #f2f2f2;
    font-family: 'Abel', sans-serif;
    width: 270px;
    border: 0;
    margin-top: 12px;
    margin-left: 525px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;


}

.in2{
    position: absolute;
    outline: 0;
    font-family: 'Abel', sans-serif;
    background: #f2f2f2;
    width: 270px;
    border: 0;
    margin-top: 75px;
    margin-left: 525px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}

.message{
    position: absolute;
    color: #ffffff;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    margin-left: 575px;
    margin-top: 190px;
}

a{
    color: red;
    position: absolute;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    margin-left: 670px;
    margin-top: 190px;
}

.header7{
   position: absolute;
    font-family: 'Abel', sans-serif;
    color: white;
    font-size: 17px;
    right: 0px;
    
    margin-right: 35px;
    margin-bottom: 30px;
    font-weight: lighter;
}