
body{
    background: #eee;
    width: 100%;
    height: 100%;
    background: url('images/labtech.jpg') ;
    position: absolute;
}

.container{
   overflow: auto;
    position: absolute;
    width: 1300px; 
    height: 1000px;
    position: absolute;
    margin-left: 200px;
    margin-top: 150px;
    border-radius: 10px;
    background: #708090;
    
}
.h3{
   position: absolute;
   font-size: 50px;
   margin-left: 500px; 
 
}

.btn{
         width: 140px;
         height: 40px;
         background: #34f315;
         font-size: 14px;
         margin-right: 10%;
         font-weight: bold;
         border-radius: 5px;
         border: none;
         color: #fff;
         position: absolute;
        right: 0px; 
      
     }

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }


.btn2 {
    position: absolute;
    background: #34f315;
    width: 150px;
    margin-left: 550px;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
}
.btn2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }


.head{
     position: absolute;
     width: 400px;
     font-size: 70px;
     margin-left: 700px;
     margin-top: 20px;
     color: #E72E07;
}


.wrapper{
  margin:3em 0;
  margin-left: 20px;
}
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
    position:relative;
  transition:0.5s color ease;
    text-decoration:none;
    color: blue;
    font-size:20px;
}
a:hover{
    color:#d73444;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#d73444;
}
a.seventh:before{
  right:0;
}
a.seventh:after{
  left:0;
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}



